<%- include ("./parts/homehead.ejs") %>

<header>
    
    <div class="bg-main">
      <div class="mid-header container">
        <a href="#" class="logo">ATShop</a>
        <ul class="user-menu">
         
          <li>
            <a href="/login"><i class="bx bx-user-circle"></i></a>
          </li>
          
        </ul>
        
      </div>
    </div>
    <!-- end mid header -->
    <!-- bottom header -->
    <div class="bg-second">
      <div class="bottom-header container">
        <ul class="main-menu">
          <li><a href="#">home</a></li>
          <!-- mega menu -->
          <li><a href="/">Product</a></li>
            
          <!-- end mega menu -->
          <li>
            <a href="/aboutUs">About Us</a>
          </li>
          <li>
            <a href="/contactUs">contact</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- end bottom header -->
  </div>
  <!-- end main header -->
</header>
<!-- end header -->

<!-- hero section -->
<div class="hero">
  <div class="slider">
    <div class="container">
      <!-- slide item -->
      <div class="slide active">
        <div class="info">
          <div class="info-content">
            <h3 class="top-down">JBL TUNE 750TNC</h3>
            <h2 class="top-down trans-delay-0-2">Next-gen design</h2>
            <p class="top-down trans-delay-0-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              dolor commodi dignissimos culpa, eaque eos necessitatibus possimus
              veniam, cupiditate rerum deleniti? Libero, ducimus error? Beatae
              velit dolore sint explicabo! Fugit.
            </p>
            <div class="top-down trans-delay-0-6">
              
            </div>
          </div>
        </div>
        <div class="img top-down">
          <img
            src="https://images.samsung.com/is/image/samsung/assets/us/home/03032022/S.com-KV-VAC-PC.jpg"
            alt=""
          />
        </div>
      </div>
      <!-- end slide item -->
      <!-- slide item -->
      <div class="slide">
        <div class="info">
          <div class="info-content">
            <h3 class="top-down">JBL Quantum ONE</h3>
            <h2 class="top-down trans-delay-0-2">Ipsum dolor</h2>
            <p class="top-down trans-delay-0-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. A optio,
              voluptatum aperiam nobis quis maxime corporis porro alias soluta
              sunt quae consectetur aliquid blanditiis perspiciatis labore
              cumque, ullam, quam eligendi!
            </p>
           
          </div>
        </div>
        <div class="img right-left">
          <img
            src="https://images.samsung.com/is/image/samsung/assets/pk/pfs/202205_update/PFS_a-KV_PC_2022-2Q.jpg?$FB_TYPE_A_JPG$"
            alt=""
          />
        </div>
      </div>
      <!-- end slide item -->
      <!-- slide item -->
      <div class="slide">
        <div class="info">
          <div class="info-content">
            <h3 class="top-down">JBL JR 310BT</h3>
            <h2 class="top-down trans-delay-0-2">Consectetur Elit</h2>
            <p class="top-down trans-delay-0-4">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Explicabo aut fugiat, libero magnam nemo inventore in tempora
              beatae officiis temporibus odit deserunt molestiae amet quam,
              asperiores, iure recusandae nulla labore!
            </p>
           
          </div>
        </div>
        <div class="img left-right">
          <img
            src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTqNqX8Geh55zE9vYFgELC3jRy2WFJlV6vv42CSRXWfMcIpdd_z8E5yFwRtrpGWK4n3QNxrm70WUw&usqp=CAc"
            alt=""
          />
        </div>
      </div>
      <!-- end slide item -->
    </div>
    <!-- slider controller -->
    <button class="slide-controll slide-next">
      <i class="bx bxs-chevron-right"></i>
    </button>
    <button class="slide-controll slide-prev">
      <i class="bx bxs-chevron-left"></i>
    </button>
    <!-- end slider controller -->
  </div>
</div>

<!-- end product list -->

<!-- special product -->
<div class="bg-second">
  <div class="section container">
    <div class="row">
      <div class="col-4 col-md-4">
        <div class="sp-item-img">
          <img
            src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTqNqX8Geh55zE9vYFgELC3jRy2WFJlV6vv42CSRXWfMcIpdd_z8E5yFwRtrpGWK4n3QNxrm70WUw&usqp=CAc"
            alt=""
            style="margin-left: 25%"
          />
        </div>
      </div>
      <div class="col-7 col-md-8">
        <div class="sp-item-info">
          <div class="sp-item-name">Samsung Galaxy S21 5G</div>
          <p class="sp-item-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
            dignissimos itaque et eaque quod harum vero autem? Reprehenderit
            enim non voluptate! Qui provident modi est non eius ratione, debitis
            iure.
          </p>
        
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end special product -->


<!-- end blogs -->

<!-- footer -->
<footer class="bg-second">
  <div class="container">
    <div class="row">
      <div class="col-3 col-md-6">
        <h3 class="footer-head">Products</h3>
        <ul class="menu">
          <li><a href="#">Help center</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">product help</a></li>
          <li><a href="#">warranty</a></li>
          <li><a href="#">order status</a></li>
        </ul>
      </div>
      <div class="col-3 col-md-6">
        <h3 class="footer-head">services</h3>
        <ul class="menu">
          <li><a href="#">Help center</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">product help</a></li>
          <li><a href="#">warranty</a></li>
          <li><a href="#">order status</a></li>
        </ul>
      </div>
      <div class="col-3 col-md-6">
        <h3 class="footer-head">support</h3>
        <ul class="menu">
          <li><a href="#">Help center</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">product help</a></li>
          <li><a href="#">warranty</a></li>
          <li><a href="#">order status</a></li>
        </ul>
      </div>
      <div class="col-3 col-md-6 col-sm-12">
        <div class="contact">
          <h3 class="contact-header">ATShop</h3>
          <ul class="contact-socials">
            <li>
              <a href="#">
                <i class="bx bxl-facebook-circle"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bx bxl-instagram-alt"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bx bxl-youtube"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bx bxl-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="subscribe">
          <input type="email" placeholder="ENTER YOUR EMAIL" />
          <button>subscribe</button>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->

<%- include ("./parts/homeEnd.ejs") %>
